@{
    bool isProcessComplete = @ViewBag.IsProcessComplete;
}
<input type="hidden" id="currentReportMOC" value="@ViewBag.currentMOC" />
<input type="hidden" id="pageTitle" value="@ViewBag.PageTitle" />
<input type="hidden" id="isProcessComplete" value="@isProcessComplete" />
@if (isProcessComplete == true)
{
    <!-- Data Table -->
    <section id="tableinfo" class="mtop20 ">
        <div class="">
            <table id="calculateProvisionExeptionTable" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>HUL Outlet Code</th>
                        <th>HUL Outlet Code</th>
                        <th>Chain Name</th>
                        <th>Group Name</th>
                        <th>Color / Non Color</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th class="searchtext">Hul Outlet Code</th>
                        <th class="searchtext">Hul Outlet Name</th>
                        <th class="searchtext">Chain Name</th>
                        <th class="searchtext">Group Name</th>
                        <th class="searchtext">Color / Non Color</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="clearfix"></div>
    </section>
}
<script>

    var calculateGSVTable_dtObj;
    $(document).ready(function () {

        $('.titlename').html($("#pageTitle").val());
        if ($("#isProcessComplete").val() == false) {
            bootbox.alert("Please Calculate Provision First!");
        }
        else {
            FillMOCCalculationTable();
        }
    })

    function FillMOCCalculationTable() {
        if (calculateGSVTable_dtObj != undefined) {
            calculateGSVTable_dtObj.destroy();
        }
        $('#calculateProvisionExeptionTable tfoot th.searchtext').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        calculateGSVTable_dtObj = $('#calculateProvisionExeptionTable').DataTable({
            "processing": true,
            "serverSide": true,
            //"pageLength": 50,
            //"bFilter": false,
            "info": true,
            //"stateSave": true,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax": {
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/ExceptionReportProvision/AjaxGetExceptionDataOutLetCode",
                "type": "POST"
            },
            "columns": [
                    { "data": "HulOutletCode", "orderable": true, "class": "leftaligncell" },
                    { "data": "HulOutletCodeName", "orderable": true, "class": "leftaligncell" },
                    { "data": "ChainName", "orderable": true, "class": "leftaligncell" },
                    { "data": "GroupName", "orderable": true, "class": "leftaligncell" },
                    { "data": "ColorNonColor", "orderable": true }
            ],
            "order": [[0, "asc"]],
            "scrollX": true,
            "scrollY": 400,
            "scroller": {
                loadingIndicator: true
            }
        });
        $("#calculateProvisionExeptionTable_filter").hide();
        // Apply the search
        calculateGSVTable_dtObj.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        setTimeout(function () {
            $('<a href="#" id="dwncalculateProvisionEx"><img class="downloadimg" src="/img/dashboard/Download_Excel.png" alt=""><span style="btn Color:blue;Padding:5px">Download</span></a>').insertBefore($("#calculateProvisionExeptionTable_length"))

        }, 10);
    }

    $(document).on("click", "#dwncalculateProvisionEx", function () {

        window.location = "/ExceptionReportProvision/DownloadProvisionChainNmGrpNmExpeption";

    });

</script>
